.animate-o, .animate-x {
    animation-duration: 0.75s;
    animation-name: add-icon;
}

@keyframes add-icon {
    0% {
        font-size: 7.5vmin;
    }
    25% {
        font-size: 2.5vmin;
    }
    50% {
        font-size: 5.5vmin;
    }
    100% {
        font-size: 3.5vmin;
    }
}
