.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.board {
  display: grid;
  grid-template-columns: 5vmin 5vmin 5vmin;
  grid-template-rows: 5vmin 5vmin 5vmin;
  grid-gap: .4vmin;
}

.game-container{
  margin-top:200px;
}

.container{
  display: grid;
  grid-template-columns: 15.8vmin 15.8vmin 15.8vmin;
  grid-template-rows: 15.8vmin 15.8vmin 15.8vmin;
  grid-gap: 2vmin;
}



.tile{
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;

}

.tile.small {
  width:5vmin;
  height:5vmin;
}

.tile.small .material-icons{
  font-size: 3.5vmin !important;
}

.tile.big {
  width: 15.8vmin;
  height: 15.8vmin;
}

.tile.big .material-icons{
  font-size: 15vmin !important;
}

.material-icons {
  font-weight:400 !important;
}

.tile-empty{
  background-color: #65b0ff;
}

.tile-filled{
  background-color: #a0c1ff;
}

.tile-blocked{
  background-color: #90a4af;
}

.board-center-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}





